<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head  data-th-replace="fragment/css_imports :: css-content"></head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- header content -->
    <div data-th-replace="fragment/header :: header-content"></div>
    <!-- /header content -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="${status+ ' Error Page'}"></h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active" th:text="${status+ ' error'}"></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div style="width: 100%; margin: 20px auto 0 auto; padding: auto; align-content: center">
                <h2 class="headline text-yellow" th:text="${status}"></h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow" th:text="${'Oops!. There seems to be a problem with the page you requested: ' + path}"></i></h3>

                    <p th:text="${'Details: ' + message}"></p>
                    <p th:text="${'Path: ' + path}"></p>
                    <p th:text="${'Exception: ' + exception}"></p>
                    <p th:text="${'Custom Exception: ' + errorMessage}"></p>
                    <p th:text="${'Errors: ' + error}"></p>
                    <p th:text="${'Trace: ' + trace}"></p>
                    <p>Meanwhile, you may <a th:href="@{/dashboard}">return to dashboard</a></p>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- footer content -->
    <div data-th-replace="fragment/footer :: footer-content"></div>
    <!-- /footer content -->

    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<div data-th-replace="fragment/js_imports :: js-content"></div>
</body>
</html>
