<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  data-th-replace="fragment/css_imports :: css-content"></head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Kesho</b>LABS</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form th:action="@{/signin}" th:object="${user}" method="post">
            <div th:if = "${param.error != null }" class="form-group has-feedback text-center" style="margin-bottom: 30px">
                <span class="alert alert-danger" th:text="${param.error}"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" th:field="*{username}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a th:href="@{/forgotpassword}">I forgot my password</a><br>
        <a th:href="@{/signup}" class="text-center">Register a new account</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div data-th-replace="fragment/js_imports :: js-content"></div>
</body>
</html>
